:root {
  --display-2xl-font-family: "Inter", Helvetica;
  --display-2xl-font-weight: 700;
  --display-2xl-font-size: 36px;
  --display-2xl-letter-spacing: 0px;
  --display-2xl-line-height: 45px;
  --display-2xl-font-style: normal;
  --display-XL-font-family: "Inter", Helvetica;
  --display-XL-font-weight: 700;
  --display-XL-font-size: 30px;
  --display-XL-letter-spacing: 0px;
  --display-XL-line-height: 38px;
  --display-XL-font-style: normal;
  --display-LG-font-family: "Inter", Helvetica;
  --display-LG-font-weight: 600;
  --display-LG-font-size: 24px;
  --display-LG-letter-spacing: 0px;
  --display-LG-line-height: 30px;
  --display-LG-font-style: normal;
  --display-MD-font-family: "Inter", Helvetica;
  --display-MD-font-weight: 600;
  --display-MD-font-size: 20px;
  --display-MD-letter-spacing: 0px;
  --display-MD-line-height: 25px;
  --display-MD-font-style: normal;
  --display-SM-font-family: "Inter", Helvetica;
  --display-SM-font-weight: 600;
  --display-SM-font-size: 18px;
  --display-SM-letter-spacing: 0px;
  --display-SM-line-height: 23px;
  --display-SM-font-style: normal;
  --body-XL-font-family: "Inter", Helvetica;
  --body-XL-font-weight: 400;
  --body-XL-font-size: 20px;
  --body-XL-letter-spacing: 0px;
  --body-XL-line-height: 30px;
  --body-XL-font-style: normal;
  --body-LG-font-family: "Inter", Helvetica;
  --body-LG-font-weight: 400;
  --body-LG-font-size: 18px;
  --body-LG-letter-spacing: 0px;
  --body-LG-line-height: 27px;
  --body-LG-font-style: normal;
  --body-MD-font-family: "Inter", Helvetica;
  --body-MD-font-weight: 400;
  --body-MD-font-size: 16px;
  --body-MD-letter-spacing: 0px;
  --body-MD-line-height: 24px;
  --body-MD-font-style: normal;
  --body-SM-font-family: "Inter", Helvetica;
  --body-SM-font-weight: 400;
  --body-SM-font-size: 14px;
  --body-SM-letter-spacing: 0px;
  --body-SM-line-height: 21px;
  --body-SM-font-style: normal;
  --body-XS-font-family: "Inter", Helvetica;
  --body-XS-font-weight: 400;
  --body-XS-font-size: 12px;
  --body-XS-letter-spacing: 0px;
  --body-XS-line-height: 18px;
  --body-XS-font-style: normal;
  --label-LG-font-family: "Inter", Helvetica;
  --label-LG-font-weight: 500;
  --label-LG-font-size: 16px;
  --label-LG-letter-spacing: 0px;
  --label-LG-line-height: 24px;
  --label-LG-font-style: normal;
  --label-MD-font-family: "Inter", Helvetica;
  --label-MD-font-weight: 500;
  --label-MD-font-size: 14px;
  --label-MD-letter-spacing: 0px;
  --label-MD-line-height: 21px;
  --label-MD-font-style: normal;
  --label-SM-font-family: "Inter", Helvetica;
  --label-SM-font-weight: 500;
  --label-SM-font-size: 12px;
  --label-SM-letter-spacing: 0px;
  --label-SM-line-height: 18px;
  --label-SM-font-style: normal;
  --label-XS-font-family: "Inter", Helvetica;
  --label-XS-font-weight: 500;
  --label-XS-font-size: 11px;
  --label-XS-letter-spacing: 0px;
  --label-XS-line-height: 17px;
  --label-XS-font-style: normal;
  --code-MD-font-family: "Roboto Mono", Helvetica;
  --code-MD-font-weight: 400;
  --code-MD-font-size: 14px;
  --code-MD-letter-spacing: 0px;
  --code-MD-line-height: 25px;
  --code-MD-font-style: normal;
  --code-SM-font-family: "Roboto Mono", Helvetica;
  --code-SM-font-weight: 400;
  --code-SM-font-size: 12px;
  --code-SM-letter-spacing: 0px;
  --code-SM-line-height: 21px;
  --code-SM-font-style: normal;
  --shadow-SM: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
  --shadow-default: 0px 1px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 2px -1px
    rgba(0, 0, 0, 0.04);
  --shadow-MD: 0px 4px 8px -1px rgba(0, 0, 0, 0.08), 0px 2px 4px -2px
    rgba(0, 0, 0, 0.04);
  --shadow-LG: 0px 10px 20px -3px rgba(0, 0, 0, 0.08), 0px 4px 8px -4px
    rgba(0, 0, 0, 0.04);
  --shadow-XL: 0px 20px 32px -5px rgba(0, 0, 0, 0.08), 0px 8px 14px -6px
    rgba(0, 0, 0, 0.04);
}
