.caixa_proj {
    border: 2px solid #21262D;
    width: 500px;
    height: auto;
    border-radius: 5px;
    background-color: #161B22;
    
    transition: 0.2s;
}

.caixa_proj {
    border-left: 5px solid #A78BFA;
}

.text_proj {
    color: #E6EDF3;
    padding: 10px;
}

.nome_proj {
    font-weight: bold;
    font-size: 16px;
}

.abrir_proj {
    border: 2px solid;
    border-color: #000;
    border-radius: 5px;
    display: block;
    width: fit-content;
    margin-left: auto;
    height: auto;
    text-decoration: none;
    background-color: #A78BFA;
    color: #000;
    transition: 0.2s;
}

.abrir_proj:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
