@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: linear-gradient(45deg, #a2a2a2, #c0c0c0);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.card {
    background-color: #383838;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 0px 0px 1px 2px #8b5dd0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #272262;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus {
    border-bottom: 2px solid #7d27ff;
}

.label-float label {
    color: #7d27ff;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label
{
  font-size: 13px;
  margin-top: 0;
  color: #7d27ff;
}

button{
  background: #a970ff;
  color: #000;
  padding: 5px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  height: 39px;
  width: 85%;
}


.justify-center{
  display: flex;
  justify-content: center;
}

hr{
  margin-top: 10%;
  margin-bottom: 10%;
  width: 75%;
}

p{
  color: #000;
  font-size: 14pt;
  text-align: center;
  font-weight: bold;
}


.cadas {
  color: #7d27ff;
}

.gradient {
    background: linear-gradient(45deg, #0a0577, #000000, #21124b, #420099);
    background-size: 300% 300%;
    min-height: 100vh;
    width: 100vw;
    animation: colors 15s infinite ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
}

@keyframes colors {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
