@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-principal: #202020; 
    --cor-barra: #171717;
    --cor-texto: #ffffff;
    --cor-de-fundo: #00030C;
    --botao-verde: #328B1C;
    --botao-verde-efeito: #3cb31e;
    --botao-azul: #22B9F9;
    --botão-azul-efeito: #127af8;
    --fonte-principal: "Space Grotesk", sans-serif;
    --fonte-secundaria: "Kanit", sans-serif;
}

body {
    background-color: var(--cor-principal);
    color: var(--cor-texto);
}

.cabecaralho {
    background-color: var(--cor-barra);
    left: 30%;
}

.cabesa {
    justify-content: center;
    display: flex;
}

.titulo_area {
    
}

.titulo_proj {
    font-family: var(--fonte-principal);
    font-weight: 200;
    text-align: center;
}

.botao {
    color: var(--cor-texto);
    border-radius: 5px;
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    position: relative;
    font-size: var(--fonte-secundaria);
    left: 36%;
}

.verde {
    background-color: var(--botao-verde);
}

.azul {
    background-color: var(--botao-azul);
}

nav.barra_lateral {
  height: 100%; /* Altura total */
  width: 59px; /* Largura da barra */
  position: fixed; /* Fixar na tela */
  background-color: var(--cor-barra);
  padding: 40px 0 40px 1%;

  top: 0;
  left: 0;
  overflow: hidden;
  transition: .2s;
}

nav.barra_lateral:hover{
    width: 200px; /* Largura da barra */
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-barra{
    transition: .2s;
}

ul li.item-barra:hover {
    background-color: var(--botão-azul-efeito);
}

ul li.item-barra a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
  line-height: 40px;
}


ul li.item-barra a .txt-link{
    margin-left: 30px;
}

ul li.item-barra a .icone{
    align-items: center;
    margin-left: 4px;
    font-size: 25px;
}

.conteudo {
  margin-left: 80px; /* Mesmo valor da largura da sidebar */
  padding: 20px;
}