form{
    max-width: 600px;
    margin: auto;
    margin-left: 20%;
}

.cabecaralho {
    padding: 7px;
}

.chat {
    width: 180%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat_messages {
    flex-grow: 1;
    padding: 30px 30px 130px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat_form {
    background-color: #2e2e2e;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.chat_input {
    border: none;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    background-color: #212121;
    outline: none;
    color: #f2f2f2;
    font-size: 1rem;
}

.chat_button {
    border: none;
    background: none;
    color: #f2f2f2;
    cursor: pointer;
}

.chat_button > i {
    font-size: 1.8rem;
}

.chat_messages > div {
    padding: 10px;
    width: 100%;
    max-width: 250px;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 22px;
}

.message-self {
    background-color: #ddd;
    color: #121212;
    border-radius: 10px 10px 10px 0px;
}

.message-other {
    background-color: #333;
    color: #f2f2f2;
    border-radius: 10px 10px 10px 0px;
}

.message-sender {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    color: cadetblue;
}
