@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    --cor-principal: #0D1117;
    --cor-barra: #161B22;
    --cor-texto: #E6EDF3;
    --cor-de-fundo: #0D1117;
    --cor-do-icone: #A78BFA;
    --cor-das-sombras: #21262D;
    --fonte-principal: "Space Grotesk", sans-serif;
    --fonte-secundaria: "Kanit", sans-serif;
}

.titulo_aleatorio {
    font-weight: bold;
    color: #E6EDF3;
}

.caixas {
    border: 2px solid #21262D;
    border-radius: 8px;
    background-color: #161B22;
    width: 350px;
    height: 180px;
    margin: 10px;
    transition: .3s ease;
    box-sizing: border-box;
    padding: 4px;
}

.caixas h1{
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    top: 55px;
}

.caixas span{
    position: relative;
    top: 55px;
    left: 20px;
}

.caixas:hover {
    border-color: #A78BFA;
    box-shadow: 0 0 15px rgba(167, 139, 250, 0.2);
    transform: translateX(10px);
}

.conteudo{
    display: flex;
    flex-direction: row;
    line-break:normal;
}

.bolotinha{
    border-radius: 8px;
    margin-top: 15px;
    color: #A78BFA;
}

.bolotinha2{
    border-radius: 8px;
    margin-top: 15px;
    color: #ffd500;
}

.bolotinha3{
    border-radius: 8px;
    margin-top: 15px;
    color: rgb(150, 191, 253);
}

.bolotinha4{
    border-radius: 8px;
    margin-top: 15px;
    color: #A78BFA;
}

.textosss {
    margin-left: 20px;
    color: #E6EDF3;
}

.Imagem_Conteudo {
    height: 50px;
}

.copyrights {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #ffffff0d;
    padding: 40px 20px;
    margin-top: 300px;
    gap: 15px;

}

.copyrights p {
    color: #666;
    font-size: 0.9rem;
}


@media (max-width: 768px) {
    body {
        flex-direction: column;
        
    }

    .caixas {
        margin: 0;
        width: 100%;         
        height: auto;        
        min-height: 250px;   
    }

    .barra_lateral ul {
        display: flex; 
        margin-top: 0;
    }

    .barra_lateral .txt-link {
        display: none; 
    }

    .barra_lateral .icone {
        margin-right: 20px;  
        font-size: 1.5rem; 
    }

    .barra_lateral {
        width: 100%;
        height: auto;
        
        flex-direction: row;
        align-items: center;
        
    }

    .barra_lateral ul {
        display: flex; 
        margin-top: 0;
    }

    .barra_lateral .txt-link {
        display: none; 
    }

    .barra_lateral .icone {
        margin-right: 60;
        font-size: 1.5rem; 
    }
}