@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: #202020;
    --cor-barra: #171717;
    --cor-texto: #ffffff;
    --cor-de-fundo: #00030C;
    --botao-verde: #328B1C;
    --botao-verde-efeito: #3cb31e;
    --botao-azul: #22B9F9;
    --botão-azul-efeito: #127af8;
    --fonte-primária: 'Archivo Black', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.671);
}

.titulo {
    text-align: center;
    color: aliceblue;
}

.wraper {
    max-width: 760px;
    margin: 10px auto;
    padding: 40px;
    border: 10px;
    background-color: rgb(255, 255, 255);
}