
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
* {
    margin: 0;
    padding: 0;


}

:root {
    --cor-principal: #ffffff; 
    --cor-barra: #ffffff;
    --cor-texto: #5f5f74;
    --cor-de-fundo: #ffffff;
    --cor-do-icone: #ffd500;
    --cor-das-sombras: #492486;
    --fonte-principal: "Space Grotesk", sans-serif;
    --fonte-secundaria: "Kanit", sans-serif;
    --gradiente: background-image: linear-gradient(to bottom, #1D0543, #492486, #9959FF);
}

.cabecaralho{
    box-shadow: 1px #050814;
}

body {
    height: 100vh;
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    overflow: hidden;
}

.gradient {
    background: linear-gradient(90deg, #A13BC9, #501D63);
    background-clip: text;
    color: transparent;
}

nav.barra_lateral {
    width: 100%;
    height: 55px;
    z-index: 10;
    background-color: var(--cor-barra);
    padding: 0 2%;
    box-shadow: 0 3px 0 var(--cor-das-sombras);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav.barra_lateral.expandir {
    width: 100%;
}


ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

ul li.item-barra {
    transition: .2s ease;
    border-radius: 5px;
    height: 100%;
    display: flex;
    align-items: center;
}

ul li.item-barra:hover {
    background-color: var(--cor-das-sombras);
}

ul li.item-barra a {
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 18px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 100%;
}

.titulo_area {
    background: linear-gradient(90deg, #A13BC9, #501D63);
    background-clip: text;
    color: transparent;
    font-family: var(--fonte-primária);
}

.titulo_proje {
    position: relative;
    text-align: center;
    justify-content: center;
    font-family: var(--fonte-primária);
    font-weight: 200;

}


/* container para nome, dias e números dos dias o mês */

.calendario  {           
    min-width: 22vh;
    min-height: 72.2vh;
    margin: 8vh;
    top: 2px;
    align-items: center;
    justify-content: center;
    left: 500px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

}

/* Separa as setas e coloca-as no canto */

.setinhas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Estilagem das setas */

.calendario button {
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: flex;
    cursor: pointer;
    width: 5vh;
    height: 5vh;
    font-size: 4vh;
}

.calendario button:active {
    background-color: #ffee00;
    transition: 0.3s;
}

/* Anos, Meses e dias da semana*/
.mesAno {
    color: #00030C;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    font: 400;
    text-transform: capitalize;
    font-family: var(--fonte-secundaria);
    
}


.dias_da_semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 35px;
    font-family: var(--fonte-secundaria);

}

.dias_da_semana span {
    text-align: center;
    padding: 5px;
    color: rgb(117, 113, 113);

}


/* Números dos dias no mês */

.datas{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: #00030C;
}

/* Estilo dos números do mês */

.date{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    margin: 4px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 0 0 0.8px;
    width: 2px;
    height: 5px;
    transition: 0.2s;
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

/* Efeito ao passar e clicar dos números do mês */
.date:hover, .date.active{
    background: #8eabc7;
    color: #ffffff;
}

.date.off{
    color: #9b9b9b;
    font-weight: 0;
    
}

.date.off:hover{
    background:#000000b9;
    color:#ffffff;
}


