
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
* {
    margin: 0;
    padding: 0;


}

:root {
    --cor-principal: #202020;
    --cor-barra: #171717;
    --cor-texto: #ffffff;
    --cor-de-fundo: #00030C;
    --botao-verde: #328B1C;
    --botao-verde-efeito: #3cb31e;
    --botao-azul: #22B9F9;
    --botão-azul-efeito: #127af8;
    --fonte-primária: 'Archivo Black', sans-serif;
}

body {
    width: 200vh;
    background-color: var(--cor-principal);
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.cabecaralho {
    
    
}

.titulo {
    text-align: center;
    color: aliceblue;
    margin:auto;
}

.titulo_area {
    position:absolute;
    left: 300px;
    color: #6d0aa7;
}

.titulo_proje {
    position: relative;
    text-align: center;
    justify-content: center;

}


/* container para nome, dias e números dos dias o mês */

.calendario  {           
    min-width: 172vh;
    min-height: 90vh;
    margin: 9vh;
    top: 2px;
    left: 190px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;

}

/* Separa as setas e coloca-as no canto */

.setinhas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Estilagem das setas */

.calendario button {
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: flex;
    cursor: pointer;
    width: 5vh;
    height: 5vh;
    font-size: 4vh;
}

.calendario button:active {
    background-color: #ffee00;
    transition: 0.3s;
}

/* Anos, Meses e dias da semana*/
.mesAno {
    color: #00030C;
    font-size: 75px;
    font-weight: 600;
    text-align: center;
    font: 400;
    text-transform: capitalize;
    font-family: var(--fonte-primária);
    
}


.dias_da_semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 40px;

}

.dias_da_semana span {
    text-align: center;
    padding: 5px;
    color: rgb(117, 113, 113);

}


/* Números dos dias no mês */

.datas{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    color: #00030C;
}

/* Estilo dos números do mês */

.date{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5vh;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 2vh;
    height: 2vh;
    transition: 0.2s;
    font-size: 40px;
}

/* Efeito ao passar e clicar dos números do mês */
.date:hover, .date.active {
    background: #a200ff;
    color: #ffffff;
}

.date.off{
    color: #9b9b9b;
    font-weight: 0;
    
}

.date.off:hover{
    background:#000000;
    color:#ffffff;
}