body{
    background-color: rgb(0, 0, 0);
    width: 99vw;
    height: 97vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.load{
    display: flex;
}

.load div{
    height: 45px;
    width: 43px;
    background: linear-gradient(rgb(92, 0, 0), rgb(112, 28, 42), rgb(75, 30, 75));
    border-radius: 98%;
    margin: 15px;
    animation: anima 0.8s ease-in-out infinite alternate;
}

.load div:nth-child(1){
    animation-delay: -0.4s;
}

.load div:nth-child(2){
    animation-delay: -0.2s;
}

@keyframes anima{
    from{
        transform: translateY(-100%);
    }to{
        transform: translateY(100%);
    }
}

@keyframes desaparece{
    from{
        opacity: 100%;
    }to{
        opacity: 0%;
    }
}