@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
  font-family: "Archivo Black", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  color: #333;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 400px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}
label{
  text-align: left;
}

input {
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
  outline: none;
  font-size: 15px;
  font-weight: 100;
}

input:focus{
  border-color: #000000;
}

input:hover{
  border-color: #333333b0;
}

button{
    width: 362px;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.gradient {
    background: linear-gradient(18deg, #050504, #4a444ebe, #3f3c42b6, #0c0c0c);
    background-size:3500% 3500%;
    min-height: 100vh;
    width: 100vw;
    animation: colors 15s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cadastro{
  text-decoration: none;
}
