@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    background-color: #171717;
}

.wrapper {
    perspective: 800px;
    position: absolute;
    bottom: -290px;      
    right: -1370px;        
    z-index: 10;       
}

.card-content {
    width: 80px;
    height: 80px;
    transform-style: preserve-3d;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.card-front {
    background: linear-gradient(#692dd8, #25196b);
}

.card-front,
.card-back {
    width: 100%; 
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-back {
    transform: rotateY(180deg);
}

.card-content:hover {
    transform: rotateY(180deg);
}

/* Correção do erro de sintaxe '180degf' */
.card-content.flip {
    transform: rotateY(180deg);
}

.imagem {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.virus{
    height: 80px;
    width: 80px;
}
